.pet-cards {
    display: inline-flex;
}

p {
    margin-bottom: 2px;
}

select {
    margin-bottom: 5px;
}

.filters {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 13, 71);
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(12, 13, 71);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2px;
}

.filter {
    margin: 10px;
    float: left;
}

.showAll {
    float: right;
}

select {
    width: 150px;
}
